body {
    background-color: black;
}
.section {
    display:flex;
    align-items: center;
    flex-direction: column;
}
.header {
    text-align: center;
    font-style: oblique;
    font-size: 50px;
    color:tomato;
    background-image: url('libraries/headerimage.jpg');
    background-size: cover;
    width: 90%;
    margin-top: -10px;
    margin-bottom: -10px;
    padding:70px;
}
.title {
    text-align: center;
    font-style: oblique;
    font-size: 50px;
    background-color:violet;
    width: 100%;
    padding: 10px;
    margin-top: -36px;
}
#navbar {
    width: 102%;
    align-items: center;
}
.button {
    background-color: blue;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    font-size: 17px;
    width: 16.66%;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background-color:darkblue;
}
.button2 {
    background-color: crimson;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: auto;
    text-align: center;
    text-decoration: none;
}
/*index.html*/
.menu {
    text-align: left;
    width: auto;
}
.form {
    margin: auto;
}
#fname {
    width: 30%;
    text-align: start;
    border-radius: 5px;
    font-size: 12pt;
    padding: 12px;
}
#lname {
    width: 30%;
    text-align: start;
    border-radius: 5px;
    font-size: 12pt;
    padding: 12px;
}
#email {
    width: 50%;
    text-align: start;
    border-radius: 5px;
    font-size: 12pt;
    padding: 12px;
}
#subject {
    width: 40%;
    text-align: start;
    border-radius: 5px;
    font-size: 12pt;
    padding: 12px;
}
#message {
    width: 60%;
    text-align: start;
    border-radius: 5px;
    font-size: 12pt;
    padding: 12px;
}
#link {
    padding:2px;
    display: inline-block;
}

#about-icon {
    width: 30%;
    height: 30%;
    margin: 10px;
}
#experiences-icon {
    width: 30%;
    height: 30%;
    margin: 10px;
}
#skills-icon {
    width: 30%;
    height: 30%;
    margin: 10px;
}
#projects-icon {
    width: 30%;
    height: 30%;
    margin: 10px;
}
#contact-icon {
    width: 30%;
    height: 30%;
    margin: 10px;
}
#dp1 {
    width: 50%;
    height: 50%;
    margin: 30px;
}
#dp2 {
    width: 50%;
    height: 50%;
    margin: 30px;
}
#dp3 {
    width: 50%;
    height: 50%;
    margin: 30px;
}
#dp4 {
    width: 50%;
    height: 50%;
    margin: 30px;
}
#dp5 {
    width: 50%;
    height: 50%;
    margin: 30px;
}
.img-and-word {
    display:flex;
    flex-direction:row;
    width:80%;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    background-color:orange;
}
#label {
    font-size: 25px;
    color:white;
}
div {
    display: block;
    color: white;
}
.footer {
    text-align: center;
    padding: 30px;
    background-color: lightgray;
    margin-top: 100px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
#aboutme {
    padding-bottom: 50px;
}